@{
    ViewBag.Title = "Comparar";
}

@model Comparador.ViewModel.CompararViewModel

    <form method="post">
        <div class="jumbotron">
            <h1>Comparar</h1>
        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.DropDownListFor(x => Model.SelectedProduto1, new SelectList(Model.Produtos, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "SelectedProduto1" })
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(x => Model.SelectedProduto2, new SelectList(Model.Produtos, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "SelectedProduto2" })
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success center-block" id="Comparar">Comparar</button>
            </div>
        </div>
             
        <hr />

        <div class="row">
            <div class="col-md-6">
                <div id="produto1">

                </div>
            </div>
            <div class="col-md-6">
                <div id="produto2">

                </div>
            </div>
        </div>        

    </form>